@import 'react-big-calendar/lib/css/react-big-calendar.css'; 

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #f1f1f1;
}

.dashed-border {
  border-bottom: 1px dashed black;
}

/* Estilos personalizados para los mensajes en modo oscuro */
.rbc-toolbar button {
  @apply dark:text-gray-200; /* Aplicar color de texto claro */
}

.rbc-toolbar .rbc-btn-group button {
  @apply dark:bg-gray-800; /* Fondo oscuro y texto claro */
}

.rbc-toolbar .rbc-btn-group button {
  @apply dark:text-gray-200; /* Fondo oscuro y texto claro */
}
.rbc-toolbar .rbc-btn-group button {
  @apply dark:text-gray-200; /* Fondo oscuro y texto claro */
}

.rbc-toolbar .rbc-btn-group button:hover {
  @apply dark:bg-gray-700; /* Fondo oscuro cuando se pasa el cursor */
}

.rbc-no-events {
  @apply dark:text-gray-200; /* Texto claro para mensajes de no eventos */
}


/*CUSTOM

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 242, 0);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 0);
}

.is-valid {
  border-color: #198754;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.01em + 0.9rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  margin-right: calc(1.5em + 0.75rem);
}

.is-invalid {
  border-color: #ff0000;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.01em + 0.9rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.is-warning {
  border-color: #ffc107; /* Color amarillo-naranja */
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ffc107'%3e%3cpath d='M6 1L1 11h10L6 1z' stroke-width='1'/%3e%3cpath d='M6 4v3' stroke='%23666' stroke-width='1' stroke-linecap='round'/%3e%3ccircle cx='6' cy='9' r='.5' fill='%23666'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.01em + 0.9rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}



.tab-active {
  color: blue;
  border-bottom: 2px solid;
}


@media (prefers-color-scheme: dark) {
  .tab-active {
    color: blue; 
    border-bottom: 2px solid blue;
  }
}
